body {
    /* background: skyblue; */
}

.formulario {
    margin-top: 15px;
    text-align: center;
}

.formulario label {
    font-weight: bold;
    font-size: 18pt;
}

.chat {
    margin-bottom: 10px;
}

/* #registro {
    background-color: #eee;
    padding: 10px 15px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 10em;
}

#registro input, #registro label {
    display: inline-block;
    margin-right: 10px;
}

#registro input[type="text"] {
    width: 80%;
}

#registro label {
    width: 20%;
    text-align: left;
}

#registro input[type="submit"] {
    margin-top: 1em;
    float: right;
    display: block;
} */